body{
background-color: antiquewhite;

}
.header{
    text-align: center;
    font-size: 52px;
    font-family: Arial, Helvetica, sans-serif;

}
.examples{
    float: right;
    width: 100%;
    margin-top: 200px;
    text-align: center;
}
.about{
    width: 500px;
    float: left;

}
img{
    width: 1000px;
    height: 700px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.examples p{
    font-size: 24px;
    color: white;
}
.examples h2{
    font-size: 42px;
    font-weight: bold;
    color: indianred;
}
body{
    background: url('bg.jpg') center center;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}